<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>
    current_user <%= current_user.id %>
    </p>
<ul>
    <h2>Hosting</h2>
    <% @events.each do |event| %>
        <li>
            <%= link_to  event.title, event %>
        </li>
    <% end %>
    <h2>Attending</h2>
    <ul>
        <% @attendees.filter{|a| a.user_id==current_user.id }.each do |attendee| %>
            <li>
                <%= attendee.event_id %>
                
                <%= link_to "Link", event_path(attendee.event_id) %>
            </li>
        <% end %>
    </ul>
</ul>